@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca';
}

:root {
    --Logo-font: "Arvo", serif;
    --font-family: "Lexend Deca", sans-serif;
    --secondary-font-family: "Epilogue", sans-serif;
    --primary-background: #111827;
    --secondary-background: #030617;
    --input-color: #1f2937;
    --normal-color: #f3f4f6;
    --primary-color: #facc15;
    --secondary-color: #6b7280;
    --text-base: 16px;
    --text-lg: 18px;
    --text-xl: 20px;
    --text-2xl: 24px;
    --headings: 42px;
}

/* navbar */

nav {
    /* position: sticky; */
    top: 0;
    padding: 20px;
    width: 100%;
    background: inherit;
}

.navWrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-family);
    margin-bottom: 5px;
}

.paddingTop {
    padding-top: 50px;
}

.logo {
    color: var(--normal-color);
    font-family: var(--Logo-font);
    font-size: var(--text-2xl);
    white-space: nowrap;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:active {
    color: var(--normal-color);
}

.menuItem {
    font-size: var(--text-base);
    font-weight: 400;
    color: var(--secondary-color);
}

.button {
    padding: 14px 24px;
    background: var(--primary-color);
    font-family: var(--font-family);
    border: none;
    border-radius: 5px;
    width: fit-content;
}

.menubar {
    padding: 3px 10px;
    background-color: var(--primary-color);
    border-radius: 8px;
    border: none;
}

.buttonContainer {
    display: flex;
    justify-content: end;
    gap: 8px;
}


body {
    background-color: #030617;
    height: 100%;
    width: 100%;
    padding: 3% 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

img {
    width: 100%;
}

.bars {
    display: none;
    cursor: pointer;
}

.bars-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #fff;
    align-items: center;
}

.navbar>div>h1 {
    font-size: 24px;
    font-weight: bold;
}

.navbar>div:nth-child(2)>ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

.navbar>div:nth-child(2)>ul>li {
    font-size: 12px !important;
    cursor: pointer;
}

.navbar>div:nth-child(2)>ul>li>a:hover {
    color: #EAB308 !important;
}

.navbar>div:nth-child(3)>button {
    background-color: #EAB308;
    padding: 10px 20px;
    border: transparent;
    border-radius: 3px;
    cursor: pointer;
}

.navbar>div:nth-child(3)>button>a {
    color: #000;
    font-size: 12px;
    font-weight: bold;
}

.navbar>div:nth-child(3)>button:hover {
    background-color: #FFFF00;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    gap: 40px;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

.pagination>div:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 10px;
}

.pagination>div>img {
    width: 20px;
    cursor: pointer;
    height: 20px;
}

.pagination>div>div {
    color: #fff;
    border: 1px solid #FFFF00;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.pagination>div>div:hover {
    background-color: #080e2e;
    border: 1px solid #fff;
    color: #FFFF00;

}

.main-top {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-top>div>h1 {
    font-size: 25px;
    font-weight: semibold;
    color: #EAB308;
}

.main-top>div>span {
    color: #fff;
    font-size: 12px;
    text-transform: capitalize;
}

.main-middle {
    display: flex;
    flex-direction: column;
    width: 90%;
    color: #fff;
    font-size: 13px;
    gap: 50px;
}

.comment-section>h1 {
    color: #EAB308;
    font-size: 24px;
}

.comment-section {
    border: 1px solid #000;
    width: 90%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 30px 60px;
}

form {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.form {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.form>div:nth-child(1) {
    height: 100%;
    width: 35%;
}

.form>div:nth-child(1)>div>input {
    padding: 10px;
    outline: none;
    border: transparent;
    border-radius: 5px;
}

label {
    color: #fff;
    font-size: 12px;
}

.form>div:nth-child(2)>textarea {
    padding: 10px;
    outline: none;
    border: transparent;
    border-radius: 5px;
}

.form>div:nth-child(2) {
    height: 100%;
    width: 35%;
}


input, textarea {
    display: flex;
    width: 100%;
}

form>button {
    padding: 5px 15px;
    border-radius: 3px;
    border: transparent;
    color: #000;
    font-size: bold !important;
    background-color: #EAB308;
    cursor: pointer;
}


form>button:hover {
    background-color: #FFFF00;
}

.comments {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.comments>h1 {
    color: #EAB308;
    font-size: 24px;
    text-align: center;
    width: 100%;
}

.comments-cont {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.comment-cont-two {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
}

.comment-cont-two>div {
    border: 1px solid #EAB308;
    width: 45%;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #fff;
    font-size: 12px;
    border-radius: 10px;
}



@media screen and (max-width: 768px) {
    .comment-section {
        padding: 10px 30px;
    }

    .pagination {
        gap: 20%;
    }

    .main {
        width: 100%;
    }

    .form>div:nth-child(1) {
        height: 100%;
        width: 45%;
    }

    .form>div:nth-child(2) {
        height: 100%;
        width: 45%;
    }

    .navbar>div:nth-child(2) {
        display: none;
    }

    .bars {
        display: block;
    }
}


@media screen and (max-width:550px) {
    .comment-cont-two {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .comment-cont-two>div {
        width: 70%;
    }


    .comments-cont {
        gap: 10px;
    }

    .form {
        flex-direction: column;
    }

    .form>div:nth-child(1) {
        width: 80%;
    }

    .form>div:nth-child(2) {
        width: 80%;
    }

}


@media screen and (max-width:450px) {
    body {
        padding: 3% 5%;
    }

    .comment-cont-two>div {
        width: 80%;
    }

    .pagination {
        gap: 10%;
    }

    .comment-section {
        width: 100%;
        padding: 30px 40px;
    }

    .form>div:nth-child(1) {
        width: 100%;
    }

    .form>div:nth-child(2) {
        width: 100%;
    }
}


@media screen and (max-width: 260px) {
    .comment-section {
        width: 100%;
        padding: 30px 20px;
        text-align: center;
    }

    .comment-cont-two>div {
        width: 100%;
    }

    .pagination {
        gap: 3%;
    }

    img {
        height: 200px;
        object-fit: fill;
    }
}


@media (min-width: 768px) {
    .menuList {
        display: flex;
        gap: 24px;
        justify-content: space-between;
    }

    .sidebar {
        display: none;
    }

    .sidebarContainer {
        display: none;
    }

    .menubar {
        display: none;
    }

    /* home section */
    .Wrapper {
        display: flex;
        justify-content: space-between;
        height: 85vh;
    }

    .Intro {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 55%;
    }

    .introPicture {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /* about me page */

    .aboutWrapper {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .aboutMe {
        width: 45%;
        display: flex;
        flex-direction: column;
        gap: 40px;
        justify-content: center;
    }

    .aboutPicture {
        display: flex;
        align-items: center;
    }

    /* blog section */
    .blogContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    /* portfolio */

    .gallery {
        display: flex;
        gap: 20px;
    }

    .image1 img {
        width: 100%;
    }

    .imageWrapper {
        display: flex;
        gap: 20px;
    }

    .image23 div img {
        width: 100%;
    }

    .image23 {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .image45 div img {
        width: 100%;
    }

    .image45 {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    /* contact section */

    .contactWrapper {
        display: flex;
        align-items: center;
    }

    .address {
        width: 50%;
    }

    .inputContainer {
        flex: 1;
    }

    .nameInput {
        width: 60%;
    }

    .messageInput {
        width: 90%;
    }
}

@media (max-width: 767px) {
    .menuList {
        display: none;
    }

    /* sidebar */

    .sidebar {
        position: fixed;
        top: 0;
        right: -300px;
        width: 300px;
        background: #fff;
        height: 100%;
        transition: right 0.3s ease;
        padding: 32px 20px;
        background: var(--input-color);
    }

    .sidebar.active {
        right: 0;
    }

    .sidebarMenu {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .sidebarMenu li {
        padding: 10px;
        width: 100%;
    }

    .sideItem {
        width: inherit;
        height: 100%;
    }

    .sidebarButton {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* home section */
    .Wrapper,
    .aboutWrapper {
        padding: 20px;
    }

    .description1 {
        margin-bottom: 10px;
    }

    .introPicture,
    .aboutPicture {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .imageWrapper {
        display: flex;
        gap: 20px;
        margin-top: 20px;
    }

    .image1 img {
        width: 100%;
    }

    .image23 div img {
        width: 100%;
    }

    .image23 {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .image45 div img {
        width: 100%;
    }

    .image45 {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 485px) {

    .introPicture img,
    .aboutPicture img {
        width: 100%;
    }
}

@media screen and (max-width: 300px) {
    .names {
        font-size: 24px;
    }

    .address>h1:nth-child(3) {
        font-size: 12px;
    }

    .buttonContainer {
        display: flex;
        flex-direction: column;
    }
}


/* extra large files */
@media (min-width: 1200px) {
    .subWrapper {
        padding: 0px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        gap: 100px;

    }

    nav {
        padding: 20px 96px 0px 165px;
    }

    .Wrapper,
    .aboutWrapper,
    .portfolioSection,
    .contactSection,
    footer,
    #blog {
        padding: 0px 95px 96px 165px;
    }
}


/* large devices */
@media (min-width: 992px) and (max-width: 1199px) {
    .subWrapper {
        padding: 0px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        gap: 100px;
    }

    nav {
        padding: 20px 96px 0px 165px;
    }

    .Wrapper,
    .aboutWrapper,
    .portfolioSection,
    .contactSection,
    footer,
    #blog {
        padding: 0px 95px 96px 165px;
    }
}