* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca';
}


body {
    background-color: #030617;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    /* background-color: red; */
    /* width: 60%; */
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
}

.navbar>h1:nth-child(1)>a {
    font-size: 24px;
    font-weight: bold;
    color: #fff !important;
    text-decoration: none;
}

.navbar>span>a {
    font-size: 16px;
    font-weight: regular;
    color: #fff !important;
    text-decoration: none;
}

.form-container {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

img {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #fff;
    width: 50%;
    gap: 10px;
}

.form>div:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.form>div:nth-child(1)>div {
    border: 1px solid #fff;
    padding: 7px;
    border-radius: 3px;
    cursor: pointer;
}

.form>div:nth-child(1)>div:hover {
    background-color: #060b23;
}

.form>div:nth-child(1)>div>a {
    display: flex;
    align-content: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    gap: 5px;
}

.form>div:nth-child(1)>div>a>img {
    width: 16px;
    height: 16px;
}

.form>div:nth-child(1)>div>a>span {
    font-size: 13px;
}

.form>div {
    width: 100%;
    padding: 0px 15%;
}



.form>div:nth-child(3) {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form>div:nth-child(4) {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form>div:nth-child(5) {
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* margin-top: 7%; */
}






input {
    display: flex;
    width: 100%;
    background-color: transparent;
    border: 1px solid #fff;
    padding: 7px;
    border-radius: 3px;
    color: #fff;
    outline: none;
}

form>div:nth-child(7)>button {
    display: flex;
    width: 100%;
    background-color: #9e9e05;
    border: 1px solid transparent;
    padding: 7px;
    border-radius: 3px;
    color: #fff;
    justify-content: center;
    cursor: pointer;
}

form>div:nth-child(7)>button:hover {
    background-color: #afaf05;
}


label {
    font-size: 16px;
}

.form>div>h2 {
    font-size: 16px;
}

.break {
    border: 1px solid #fff;
    height: 1px;
    width: 70% !important;
}


form>div:nth-child(9) {
    display: flex;
    text-align: center;
    font-size: 12px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

form>div:nth-child(9)>a {
    text-decoration: none;
    color: #FFFF00;
    font-size: 14px !important;
}

form>div:nth-child(9)>a:hover {
    color: #9e9e05;
    text-decoration: #9e9e05;
}

.text-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    color: #fff;
    padding: 0 10%;
}

.checkbox-container {
    display: flex;
    justify-content: center;
}

.checkbox-container>span {
    font-size: 12px;
}

.checkbox-container>span>a {
    text-decoration: none;
    color: #FFFF00;
}

.checkbox-container>span>a:hover {
    color: #afaf05;
}


@media screen and (max-width: 520px) {
    .form {
        width: 60%;
    }
}


@media screen and (max-width: 450px) {

    /* .container {
        width: 100%;
    }

    .form-container {
        width: 100% !important;
    } */

    .form {
        width: 80% !important;
    }

    /* .text-container {
        display: none;
    } */
}


@media screen and (max-width: 290px) {
    .form {
        width: 95%;
    }
}